h1{
    color: rgba(238, 130, 130, 0.5);
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: oblique;
}

h2{
    font-size: 36px;
    font-family: serif;
}

p{
    font: size 18px;
    font-family: sans-serif;
    line-height: 1.4;
}

body{
    background-color: bisque;
}

h3{
    font-size: 28px;
    font-family: sans-serif;

}

h4{
    font-size: 26px;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;

}

li{
    font-family: sans-serif;
    font-size: 22px;
}