body{
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    

}

.logo{
    display: block;
    margin: 0 auto 20px;
}

#game_board{
    width: 240px;
    height: 480px;
    border: 5px solid #39c5b2;
    margin: 0 auto;
    position: relative;
    background: repeating-linear-gradient(rgba(22,14,47,0));
}